* {
    margin: 0px;
    padding: 0px;
    font-family: 'Playfair Display', serif;
    box-sizing: border-box;
}

body {
    background-color: #fff;
}

.logo img {
    height: 45px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/*header*/
header {
    width: 100%;
    height: 70px;
    position: relative;
}

main {
    position: relative;
    top: 10px;
    bottom: 10px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 30px;
    background-color: #333;
    z-index: 1;
    width: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
}

nav ul {
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li a {
    height: 40px;
    line-height: 43px;
    margin: 8px;
    padding: 0px 10px;
    display: flex;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 400;
    color: #fff;
    letter-spacing: 1px;
    transition: 0.3s ease-in-out;
}

nav ul li a:hover {
    border-radius: 2px;
    background-color: #fff;
    color: #333;
    box-shadow: 2px 2px 20px rgba(230, 182, 111, 0.897);
}

nav .navbar-btn {
    display: none;
}

/* body */

/* inputs, select elements and textareas */
input[type=text],
input[type=email],
input[type=number],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

/* Style the label to display next to the inputs */
label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

/* submit button */
input[type=submit],
input[type=reset] {
    background-color: #fff;
    color: #333;
    padding: 12px 20px;
    margin: 2px;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

/* Style the container */
.container {
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    padding: 20px;
}

/* Floating column for labels: 25% width */
.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

/* Floating column for inputs: 75% width */
.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

input[type="checkbox"],
input[type="radio"] {
    width: 10px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}


/*footer*/
footer {
    padding: 25px 0;
    background-color: #333;
    margin-top: 95px;
}

footer ul {
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}

footer ul a {
    color: #fff;
    text-decoration: none;
    opacity: 0.8;
}

footer ul li {
    display: inline-block;
    padding: 0 15px;

}

/****Responsive****/

@media (max-width:960px) {
    nav {
        justify-content: space-between;
        height: 65px;
    }

    .navbar {
        display: none;
        position: absolute;
        top: 65px;
        left: 0px;
        background-color: #333;
        border-bottom: #fff 4px solid;
        width: 100%;
    }

    .navbar li {
        width: 100%;
    }

    nav .navbar li a {
        width: 100%;
        height: 40px;
        justify-content: center;
        align-items: center;
        margin: 0px;
        padding: 25px;
        border: 1px solid #fff;
    }

    nav .navbar-icon {
        cursor: pointer;
        float: right;
        padding: 28px 20px;
        position: relative;
        user-select: none;
    }

    nav .navbar-icon .nav-icon {
        background-color: #fff;
        display: block;
        height: 2px;
        position: relative;
        transition: background 0.2s ease-out;
        width: 18px;
    }

    nav .navbar-icon .nav-icon:before,
    nav .navbar-icon .nav-icon::after {
        background: #fff;
        content: "";
        display: block;
        height: 100%;
        position: absolute;
        transition: all ease-out 0.3s;
        width: 100%;
    }

    nav .navbar-icon .nav-icon:before {
        top: 5px;
    }

    nav .navbar-icon .nav-icon:after {
        top: -5px;
    }

    nav .navbar-btn:checked~.navbar-icon .nav-icon {
        background: transparent;
    }

    nav .navbar-btn:checked~.navbar-icon .nav-icon:before {
        transform: rotate(-45deg);
        top: 0;
    }

    nav .navbar-btn:checked~.navbar-icon .nav-icon:after {
        transform: rotate(45deg);
        top: 0;
    }

    nav .navbar-btn {
        display: none;
    }

    nav .navbar-btn:checked~.navbar {
        display: block;
    }

    .col-25,
    .col-75,
    input[type=submit],
    input[type=reset] {
        width: 100%;
        margin-top: 0;
    }
}